    #mapWithDots {
      position: absolute;
      clip: rect(0, 225px, 270px, 0);
      left: 450px;
      top: 0px;
      z-index: -1;

    }

    #ghostRed {
      position: absolute;
      clip: rect(65px, 470px, 80px, 455px);
      top: 20px;
      left: 100px;
      z-index: 2;
    }

    #ghostPink {
      position: absolute;
      clip: rect(80px, 470px, 95px, 455px);
      top: 30px;
      left: 85px;
      z-index: 2;
    }

    #ghostBlue {
      position: absolute;
      clip: rect(95px, 470px, 110px, 455px);
      top: 15px;
      left: 100px;
      z-index: 2;
    }

    #ghostOrange {
      position: absolute;
      clip: rect(112px, 470px, 127px, 455px);
      top: -2px;
      left: 115px;
      z-index: 2;
    }

    #frame {
      height: 248px;
      width: 225px;
      position: absolute;
      top: 0px;
      left: 450px;
    }

    #pacmanOpenedM {
      position: absolute;
    }


    section {
      position: relative;
    }

    section img {
      position: absolute;
    }

    .pacman {
      clip: rect(0, 470px, 15px, 455px);
      top: 125px;
      left: 95px;
      animation-name: fade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite ;
      animation-duration: 2s;
      animation-direction: alternate;
    }

    @keyframes fade {
      0% {
        opacity: 1;
      }

      25% {
        opacity: 0;
      }

      75% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    section {
      position: relative;
    }

    section img {
      position: absolute;
    }

    #pacmanClosedM {
      position: absolute;
    }

    .pacman1 {
      clip: rect(0, 487px, 15px, 470px);
      top: 125px;
      left: 80px;
      animation-name: fade1;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-direction: alternate;
    }

    @keyframes fade1 {
      0% {
        opacity: 0;
      }

      25% {
        opacity: 1;
      }

      75% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }